{% extends 'base.html' %}

{% block content %}
<div class = "row">
    <div class = "feature">
        <h3>
            Featured title
        </h3>
        <p>
            Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
        </p>
    </div>
    <div class = "feature">
        <h3>
            Featured title
        </h3>
        <p>
            Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
        </p>
    </div>
</div>
{% endblock %}